main {
  --primary-default: 129, 140, 248;
  --bg-default: 27, 36, 52;
  --color-prettylights-syntax-comment: #6e7781;
  --color-prettylights-syntax-constant: #79c0ff;
  --color-prettylights-syntax-entity: #d2a8ff;
  --color-prettylights-syntax-storage-modifier-import: #f1f5f9;
  --color-prettylights-syntax-entity-tag: #7ee787;
  --color-prettylights-syntax-keyword: #ff7b72;
  --color-prettylights-syntax-string: #a5d6ff;
  --color-prettylights-syntax-variable: #ffa657;
  --color-prettylights-syntax-brackethighlighter-unmatched: #ffa198;
  --color-prettylights-syntax-invalid-illegal-text: #f0f6fc;
  --color-prettylights-syntax-invalid-illegal-bg: #8e1519;
  --color-prettylights-syntax-carriage-return-text: #f0f6fc;
  --color-prettylights-syntax-carriage-return-bg: #8e1519;
  --color-prettylights-syntax-string-regexp: #7ee787;
  --color-prettylights-syntax-markup-list: #f2cc60;
  --color-prettylights-syntax-markup-heading: #1f6feb;
  --color-prettylights-syntax-markup-italic: #f1f5f9;
  --color-prettylights-syntax-markup-bold: #f1f5f9;
  --color-prettylights-syntax-markup-deleted-text: #ffdcd7;
  --color-prettylights-syntax-markup-deleted-bg: #67060c;
  --color-prettylights-syntax-markup-inserted-text: #aff5b4;
  --color-prettylights-syntax-markup-inserted-bg: #033a16;
  --color-prettylights-syntax-markup-changed-text: #ffdfb6;
  --color-prettylights-syntax-markup-changed-bg: #5a1e02;
  --color-prettylights-syntax-markup-ignored-text: #f1f5f9;
  --color-prettylights-syntax-markup-ignored-bg: #1158c7;
  --color-prettylights-syntax-meta-diff-range: #d2a8ff;
  --color-prettylights-syntax-brackethighlighter-angle: #8b949e;
  --color-prettylights-syntax-sublimelinter-gutter-mark: #6e7681;
  --color-prettylights-syntax-constant-other-reference-link: #a5d6ff;
  --color-btn-text: #f1f5f9;
  --color-btn-bg: rgba(var(--bg-default), 1);
  --color-btn-border: rgba(var(--bg-default), 1);
  --color-btn-shadow: 0 1px 0 rgba(var(--bg-default), 1);
  --color-btn-inset-shadow: inset 0 1px 0 rgba(var(--bg-default), 1);
  --color-btn-hover-bg: rgba(var(--bg-default), 0.5);
  --color-btn-hover-border: rgba(var(--bg-default), 0.5);
  --color-btn-active-bg: rgba(var(--primary-default), 0.2);
  --color-btn-active-border: rgba(var(--primary-default), 1);
  --color-btn-selected-bg: rgba(var(--primary-default), 0.15);
  --color-btn-primary-text: rgb(255 255 255 / 100%);
  --color-btn-primary-bg: rgba(var(--primary-default), 1);
  --color-btn-primary-border: rgba(var(--primary-default), 1);
  --color-btn-primary-shadow: 0 1px 0 rgb(0 0 0 / 10%);
  --color-btn-primary-inset-shadow: inset 0 1px 0 rgb(255 255 255 / 3%);
  --color-btn-primary-hover-bg: rgba(var(--primary-default), 0.9);
  --color-btn-primary-hover-border: rgba(var(--primary-default), 0.75);
  --color-btn-primary-selected-bg: rgba(var(--primary-default), 1);
  --color-btn-primary-selected-shadow: inset 0 1px 0 rgb(0 45 17 / 20%);
  --color-btn-primary-disabled-text: rgb(255 255 255 / 80%);
  --color-btn-primary-disabled-bg: rgba(var(--primary-default), 0.5);
  --color-btn-primary-disabled-border: rgba(var(--primary-default), 0.5);
  --color-action-list-item-default-hover-bg: rgb(51 65 85 / 35%);
  --color-segmented-control-bg: #1b2434;
  --color-segmented-control-button-bg: #111827;
  --color-segmented-control-button-selected-border: rgba(var(--bg-default), 0.85);
  --color-fg-default: rgb(241 245 249);
  --color-fg-muted: rgb(241 245 249 / 68%);
  --color-fg-subtle: rgb(241 245 249 / 40%);
  --color-canvas-default: rgb(17 24 39);
  --color-canvas-overlay: rgb(17 24 39);
  --color-canvas-inset: rgba(var(--bg-default), 0.85);
  --color-canvas-subtle: rgba(var(--bg-default), 1);
  --color-border-default: rgb(38 51 74);
  --color-border-muted: rgb(51 65 85 / 40%);
  --color-neutral-muted: rgb(51 65 85 / 40%);
  --color-accent-fg: rgba(var(--primary-default), 0.9);
  --color-accent-emphasis: rgba(var(--primary-default), 1);
  --color-accent-muted: rgba(var(--primary-default), 0.45);
  --color-accent-subtle: rgba(var(--primary-default), 0.12);
  --color-success-fg: #34d399;
  --color-attention-fg: #fbbf24;
  --color-attention-muted: rgb(212 167 44 / 40%);
  --color-attention-subtle: #451a03;
  --color-danger-fg: #f87171;
  --color-danger-muted: rgb(248 113 113 / 40%);
  --color-danger-subtle: #450a0a;
  --color-primer-shadow-inset: 0 1px 0 rgba(var(--bg-default), 1), inset 0 1px 0 rgba(var(--bg-default), 1);
  --color-scale-gray-1: rgb(27 36 52 / 100%);
  --color-scale-blue-1: rgb(129 140 248 / 14%);

  --color-social-reaction-bg-hover: var(--color-scale-gray-1);
  --color-social-reaction-bg-reacted-hover: var(--color-scale-blue-1);
}

main .pagination-loader-container {
  background-image: url("https://github.com/images/modules/pulls/progressive-disclosure-line.svg");
}

main .gsc-loading-image {
  background-image: url("https://github.githubassets.com/images/mona-loading-default.gif");
}

.gsc-comment:not(.gsc-reply-box) .gsc-replies {
  border-radius: unset;
}
